[tool.poetry]
name = "wakeonlan"
version = "3.0.0"
description = "A small python module for wake on lan."
authors = ["Remco Haszing <remcohaszing@gmail.com>"]
license = "MIT"
readme = "README.rst"
documentation = "http://pywakeonlan.readthedocs.io"
repository = "https://github.com/remcohaszing/pywakeonlan"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "Topic :: System :: Networking"
]

[tool.poetry.urls]
Changelog = "https://github.com/remcohaszing/pywakeonlan/releases"
Issues = "https://github.com/remcohaszing/pywakeonlan/issues"
Sponsor = "https://github.com/sponsors/remcohaszing"

[tool.poetry.scripts]
wakeonlan = "wakeonlan:main"

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
black = { version = "*", python = ">= 3.8" }
flake8 = { version = "*", python = ">= 3.8" }
flake8-docstrings = { version = "*", python = ">= 3.8" }
flake8-import-order = { version = "*", python = ">= 3.8" }
mypy = { version = "*", python = ">=3.8" }
pytest = "*"
pytest-cov = "*"
sphinx = { version = "*", python = ">=3.8" }
sphinx-rtd-theme = { version = "*", python = ">=3.8" }
types-setuptools = { version = "*", python = ">=3.8" }

[tool.coverage.run]
branch = true
source = ["wakeonlan"]

[tool.coverage.report]
show_missing = true

[tool.mypy]
check_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
disallow_untyped_defs = true
ignore_missing_imports = true
strict_optional = true
warn_return_any = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
