name: Test

on:
  - push
  - pull_request

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - 3.5
          - 3.6
          - 3.7
          - 3.8
    name: Pytest ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install
        run: |
          pip install poetry
          poetry install
      - name: PyTest
        run: poetry run pytest --cov --cov-report=xml
      - uses: codecov/codecov-action@v1
        if: ${{ matrix.python-version == 3.8 }}

  flake8:
    runs-on: ubuntu-latest
    name: Flake8
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
      - name: Install
        run: |
          pip install poetry
          poetry install
      - name: Flake8
        run: poetry run flake8
